/* CSS for the coaching table */
.coaching-table {
  border-collapse: collapse;
  width: 100%;
  background-image: url(../images1/download.jpg);
  background-size: cover;
}

.coaching-table td, .coaching-table th {
  border: 1px solid #ddd;
  padding: 10px;
}

.coaching-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.coaching-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.coaching-table td:last-child {
  text-align: center;
}

/* CSS for the container holding the coaching table */
.coaching-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

